<?xml version="1.0"?>
<launch>
    <arg name="gui" default="true"/>
	<arg name="paused" default="false"/>
	<arg name="world_name" default="$(find dave_worlds)/worlds/dave_ocean_waves.world"/>
	<arg name="namespace" default="haique"/>
	<arg name="velocity_control" default="false"/>
	<arg name="joy_id" default="1"/>
	<arg name="debug" default="false"/>
	<arg name="verbose" default="false"/>
	<arg name="x" default="25"/>
	<arg name="y" default="0"/>
	<arg name="z" default="-85"/>
	<arg name="roll" default="0"/>
	<arg name="pitch" default="0"/>
	<arg name="yaw" default="0"/>

	<!-- Use Gazebo's empty_world.launch with dave_ocean_waves.world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world_name)"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="verbose" value="$(arg verbose)"/>
	</include>

	<param name="robot_description" command="cat $(find haique_description)/urdf/haique_trans.urdf"/>

    <include file="$(find haique_description)/launch/upload_haique.launch"/>

	<!-- Load joint controller configurations from YAML file to parameter server -->
	<rosparam file="$(find haique_description)/config/haique.yaml" command="load"/>
	
	<!-- load the controllers -->
  	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/haique" args="haique_joint_state_controller haique_joint1_position_controller haique_joint2_position_controller">
		<remap from="robot_description" to="/$(arg namespace)/haique"/>
    </node>

	<include file="$(find dave_nodes)/launch/haique_thrusterop.launch">
    	<arg name="joy_id" value="$(arg joy_id)"/>
    	<arg name="namespace" value="$(arg namespace)"/>
  	</include>

    <node name="spawn_haique" pkg="gazebo_ros" type="spawn_model"
  		respawn="false" output="screen"
  		args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg namespace) -param /$(arg namespace)/haique"/>

  	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
  		<remap from="robot_description" to="/$(arg namespace)/haique"/>
  	</node>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"  respawn="false">
      <remap from="robot_description" to="/$(arg namespace)/haique"/>
    </node>

    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"  respawn="false">
      <remap from="robot_description" to="/$(arg namespace)/haique"/>
    </node> -->
</launch>